---
layout: default
---
<main class="page-lessons">
    <h1 class="page-title">{{ page.title | escape }}</h1>
    <div class="content">
        {{ content }}

        <ul class="list-unstyled list-group">
            {% for lesson in site.lessons %}
            <li class="list-group-item">
              <a class="lesson-link" href="{{ lesson.url | relative_url }}">
                {{ lesson.title | escape }}
              </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</main>
